.affix {
	position: sticky;
	bottom: 20px;
}

.center-element {
	margin:auto;
	padding:auto;
}

.overflow-fix {
	margin-right:25%;
    overflow: auto;
	height: 200px;
	width: 380px;
}

.width {
	max-width:100px;
}